/*
    Created on : Jul 30, 2023, 10:33:19 AM
    Author     : Woody41
*/
@font-face {
  font-family: sgc-font;
  src: url(../assets/fonts/Bank-Gothic-Medium.otf);
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sgc-font;
  background-image: url(../assets/images/stargate.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
html > body {
  margin: 6px;
  padding: 0;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  border: 10px solid hsl(180, 100%, 30%);
  border-radius: 40px;
}
/*
LEFT Panel styles. Left panel are binary boxes and flashing boxes under logo (including)
*/
.left-panel {
  height: 93%;
  width: 20%;
  float: left;
}
.left-panel > .binary-check-container {
  width: calc(100% - 115px);
  margin-right: 115px;
  height: 63%;
}
.left-panel > .binary-check-container > .binary-check {
  height: 100%;
}
.left-panel > .binary-check-container > .binary-check > .sgc-logo {
  width: 64%;
  height: 26%;
  /* not 27, because css is weird*/
  float: left;
  background-image: url(../assets/images/sgc-logo.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  /* prevent background overflowing to cyan border*/
}
.left-panel > .binary-check-container > .binary-check > .flashing-box {
  float: left;
  width: calc(12% - calc(calc(2px + 2px + 3px) * 2));
  height: calc(27% - calc(calc(2px + 2px + 3px) * 2));
  margin: 2px;
  padding: 2px;
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 2px;
}
.left-panel > .binary-check-container > .binary-check > .binary-container {
  float: left;
  width: 100%;
  height: 74%;
}
.left-panel > .binary-check-container > .binary-check > .binary-container > .binary-box {
  float: left;
  width: 88.2%;
}
.left-panel > .binary-check-container > .binary-check > .binary-container > .binary-box > .binary-text {
  width: calc(100% - calc(calc(2px + 2px + 3px) * 2) - 19px);
  height: calc(50% - calc(calc(2px + 2px + 3px) * 2) - 1px);
  margin: 2px;
  margin-left: 20px;
  padding: 2px;
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 2px;
  color: white;
  overflow: hidden;
  font-size: 23px;
}
.left-panel > .binary-check-container > .binary-check > .binary-container > .flashing-box {
  float: left;
  width: calc(12% - calc(calc(2px + 2px + 3px) * 2));
  height: calc(100% - calc(calc(2px + 2px + 3px) * 2) - 4px);
  margin: 2px;
  margin-left: 1px;
  padding: 2px;
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 2px;
}
.left-panel > .chevron-status {
  height: 37%;
}
.left-panel > .chevron-status > .chevron-status-container {
  width: calc(100% - calc(calc(2px + 2px + 3px) * 2) - 40px);
  height: calc(100% - calc(calc(2px + 3px) * 2) - 25px);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 2px;
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 2px;
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box {
  width: 100%;
  height: calc(100% / 7);
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box > .chevron-status-red {
  background-color: #e84118;
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box > .chevron-status-green,
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box .chevron-status-red {
  width: calc(28% - 38px - calc(3px * 2));
  height: calc(80% - 26px - calc(3px * 2));
  float: left;
  margin: 13px;
  margin-left: 25px;
  border: 3px solid hsl(180, 100%, 30%);
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box > .chevron-status-text,
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box .chevron-status-ok {
  float: left;
  width: 22%;
  height: 100%;
  text-align: center;
  line-height: 45px;
  font-size: 35px;
  color: white;
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box > .chevron-status-ok {
  font-size: 30px;
  color: #44bd32;
  visibility: hidden;
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box.active > .chevron-status-red {
  background-color: transparent;
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box.active > .chevron-status-green {
  background-color: #44bd32;
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box.active > .chevron-status-ok {
  visibility: initial;
}
/*
CENTER is stargate and some lines from chevron boxes
*/
.center {
  height: 93%;
  width: 63%;
  float: left;
}
.center > .stargate-container {
  width: 100%;
  height: calc(100% - 170px);
  position: relative;
}
.center > .stargate-container > .stargate {
  position: relative;
  top: 54%;
  left: 48%;
}
.center > .stargate-container > .stargate > .rings {
  display: none;
}
.center > .stargate-container > .stargate > .rings > .inner-ring {
  position: absolute;
  width: 700px;
  height: 700px;
  border: 5px solid hsl(180, 100%, 30%);
  border-radius: 100%;
  top: calc(calc(calc(700px / 2) * -1) - 5px);
  left: calc(calc(calc(700px / 2) * -1) - 5px);
  z-index: -1;
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-inner {
  position: absolute;
  width: calc(700px + 50px);
  height: calc(700px + 50px);
  border: 6px solid hsl(180, 100%, 30%);
  border-radius: 100%;
  top: calc(calc(calc(calc(700px / 2) * -1) - 6px) - 50px / 2);
  left: calc(calc(calc(calc(700px / 2) * -1) - 6px) - 50px / 2);
  z-index: -2;
  background-color: black;
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer {
  position: absolute;
  width: calc(700px + 145px);
  height: calc(700px + 145px);
  border: 6px solid hsl(180, 100%, 30%);
  border-radius: 100%;
  top: calc(calc(calc(calc(700px / 2) * -1) - 6px) - 145px / 2);
  left: calc(calc(calc(calc(700px / 2) * -1) - 6px) - 145px / 2);
  z-index: -3;
  /*                    transform: rotate(90deg);*/
  overflow: hidden;
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line {
  width: 102%;
  height: 6px;
  background-color: hsl(180, 100%, 30%);
  position: absolute;
  top: calc(50%);
  left: calc(49%);
  margin-left: -50%;
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(1) {
  transform: rotate(0deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(2) {
  transform: rotate(9deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(3) {
  transform: rotate(18deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(4) {
  transform: rotate(27deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(5) {
  transform: rotate(36deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(6) {
  transform: rotate(45deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(7) {
  transform: rotate(54deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(8) {
  transform: rotate(63deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(9) {
  transform: rotate(72deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(10) {
  transform: rotate(81deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(11) {
  transform: rotate(90deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(12) {
  transform: rotate(99deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(13) {
  transform: rotate(108deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(14) {
  transform: rotate(117deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(15) {
  transform: rotate(126deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(16) {
  transform: rotate(135deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(17) {
  transform: rotate(144deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(18) {
  transform: rotate(153deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(19) {
  transform: rotate(162deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(20) {
  transform: rotate(171deg);
}
.center > .stargate-container > .stargate > .rings > .outer-ring-1 {
  position: absolute;
  width: calc(700px + 165px);
  height: calc(700px + 165px);
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 100%;
  top: calc(calc(calc(calc(700px / 2) * -1) - 3px) - 165px / 2);
  left: calc(calc(calc(calc(700px / 2) * -1) - 3px) - 165px / 2);
  z-index: -3;
}
.center > .stargate-container > .stargate > .rings > .outer-ring-2 {
  position: absolute;
  width: calc(700px + 200px);
  height: calc(700px + 200px);
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 100%;
  top: calc(calc(calc(calc(700px / 2) * -1) - 3px) - 200px / 2);
  left: calc(calc(calc(calc(700px / 2) * -1) - 3px) - 200px / 2);
  z-index: -3;
}
.center > .stargate-container > .stargate > .rings > .outer-ring-3 {
  position: absolute;
  width: calc(700px + 240px);
  height: calc(700px + 240px);
  border: 15px solid hsl(180, 100%, 30%);
  border-radius: 100%;
  top: calc(calc(calc(calc(700px / 2) * -1) - 15px) - 240px / 2);
  left: calc(calc(calc(calc(700px / 2) * -1) - 15px) - 240px / 2);
  z-index: -3;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  top: 0%;
  left: 0%;
}
.center > .status-container {
  width: 100%;
  height: 170px;
  background-color: rgba(255, 0, 0, 0.2);
}
/*
RIGHT Panel are chevron boxes 
*/
.right-panel {
  height: 93%;
  width: 17%;
  float: left;
}
.right-panel > .character-border {
  display: inline-block;
  width: calc(100% - 15px);
  margin-left: 15px;
  margin-top: 15px;
}
.right-panel > .character-border span {
  border-top: 2px solid hsl(180, 100%, 30%);
  position: relative;
  color: white;
  display: block;
  float: left;
  font-size: 40px;
  line-height: 25px;
  padding: 10px;
}
.right-panel > .character-border span::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  /* Set the border height to half of the character height */
  border-right: 2px solid hsl(180, 100%, 30%);
  /* You can adjust the border color, style, and width as desired */
}
.right-panel > .character-border span:first-child {
  border-left: 2px solid hsl(180, 100%, 30%);
}
.right-panel > .character-border span:last-of-type {
  border-right: 2px solid hsl(180, 100%, 30%);
}
.right-panel > .character-border span:last-of-type::after {
  border: none;
}
.right-panel > .character-border > .destination-text {
  text-align: right;
  padding-right: 30px;
  padding-top: 25px;
  letter-spacing: 2px;
  font-size: 32px;
  color: white;
  margin-bottom: 0;
}
.right-panel > .line-container {
  width: 100%;
}
.right-panel > .line-container > .line {
  width: 75%;
  height: 3px;
  background-color: hsl(180, 100%, 30%);
  margin-top: 15px;
}
.right-panel > .line-container > .line:first-of-type {
  margin-top: 10px;
}
.right-panel > .glyph-container {
  /* TODO: Adjust variables to be variable and add class which will calculate how many glyphs we use 7 or 8 (or 9) */
  position: relative;
  width: 75%;
}
.right-panel > .glyph-container > .glyph {
  width: calc(100% - 70px);
  height: 125px;
  margin-top: 20px;
  margin-left: 70px;
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 2px;
  position: relative;
}
.right-panel > .glyph-container > .glyph > .line {
  position: absolute;
  height: 3px;
  background-color: hsl(180, 100%, 30%);
}
.right-panel > .glyph-container > .glyph > .line > .line-holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.right-panel > .glyph-container > .glyph > .line > .line-holder > .line {
  position: absolute;
  background-color: hsl(180, 100%, 30%);
}
.right-panel > .glyph-container > .glyph:nth-child(1) > .line {
  right: 100%;
  top: 50%;
  width: 100px;
}
.right-panel > .glyph-container > .glyph:nth-child(2) > .line {
  right: 100%;
  top: 50%;
  width: 100px;
}
.right-panel > .glyph-container > .glyph:nth-child(3) > .line {
  right: 100%;
  top: 50%;
  width: 100px;
}
.right-panel > .glyph-container > .glyph:nth-child(4) > .line {
  left: 100%;
  top: 50%;
  width: 80px;
}
.right-panel > .glyph-container > .glyph:nth-child(4) > .line > .line-holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.right-panel > .glyph-container > .glyph:nth-child(4) > .line > .line-holder > .line {
  left: 100%;
  width: 3px;
  height: 522.5px;
  margin-top: calc(-522.5px + 3px);
}
.right-panel > .glyph-container > .glyph:nth-child(5) > .line {
  left: 100%;
  top: 50%;
  width: 60px;
}
.right-panel > .glyph-container > .glyph:nth-child(5) > .line > .line-holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.right-panel > .glyph-container > .glyph:nth-child(5) > .line > .line-holder > .line {
  left: 100%;
  width: 3px;
  height: 672.5px;
  margin-top: calc(-672.5px + 3px);
}
.right-panel > .glyph-container > .glyph:nth-child(6) > .line {
  left: 100%;
  top: 50%;
  width: 40px;
}
.right-panel > .glyph-container > .glyph:nth-child(6) > .line > .line-holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.right-panel > .glyph-container > .glyph:nth-child(6) > .line > .line-holder > .line {
  left: 100%;
  width: 3px;
  height: 822.5px;
  margin-top: calc(-822.5px + 3px);
}
.right-panel > .glyph-container > .glyph:nth-child(7) > .line {
  left: 100%;
  top: 50%;
  width: 20px;
}
.right-panel > .glyph-container > .glyph:nth-child(7) > .line > .line-holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.right-panel > .glyph-container > .glyph:nth-child(7) > .line > .line-holder > .line {
  left: 100%;
  width: 3px;
  height: 972.5px;
  margin-top: calc(-972.5px + 3px);
}
.right-panel > .glyph-container > .flashing-box {
  position: absolute;
  right: -85;
  bottom: 0;
  width: 30px;
  height: 200px;
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 2px;
}
/*
BOTTOM is auth code and footer of the page, user info etc.
*/
.bottom {
  height: calc(100% - 93%);
  width: 100%;
  float: left;
}
.bottom > .bottom-left {
  width: 45%;
  float: left;
}
.bottom > .bottom-left > .title-auth {
  padding-left: 15px;
  font-size: 34px;
  margin: 0;
  color: white;
  margin-top: -10px;
}
.bottom > .bottom-left > .character-border {
  display: inline-block;
  width: calc(100% - 15px);
  margin-left: 15px;
  margin-top: 5px;
}
.bottom > .bottom-left > .character-border span {
  border-bottom: 2px solid hsl(180, 100%, 30%);
  position: relative;
  color: white;
  display: block;
  float: left;
  font-size: 40px;
  line-height: 25px;
  padding: 6px 0.8% 5px 0.8%;
}
.bottom > .bottom-left > .character-border span::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  /* Set the border height to half of the character height */
  border-right: 2px solid hsl(180, 100%, 30%);
  /* You can adjust the border color, style, and width as desired */
}
.bottom > .bottom-left > .character-border span:first-child {
  border-left: 2px solid hsl(180, 100%, 30%);
}
.bottom > .bottom-left > .character-border span:last-child {
  border-right: 2px solid hsl(180, 100%, 30%);
}
.bottom > .bottom-left > .character-border span:last-child::after {
  border: none;
}
.bottom > .bottom-center {
  width: calc(15% - 70px);
  height: 100%;
  float: left;
  padding-left: 70px;
}
.bottom > .bottom-center > img {
  max-height: 100%;
  max-width: 100%;
}
.bottom > .bottom-center > img:hover {
  background-color: hsl(180, 100%, 30%);
  cursor: pointer;
}
.bottom > .bottom-right {
  width: 40%;
  float: left;
  padding-top: 15px;
}
.bottom > .bottom-right > p {
  color: white;
  margin: 0;
  font-size: 25px;
  letter-spacing: 7px;
  line-height: 23px;
  padding-top: 0px;
}
.bottom > .bottom-right > p > span {
  color: hsl(180, 100%, 30%);
}
/*
Utils
*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.generated-line {
  position: absolute;
  border: 2px solid hsl(180, 100%, 30%);
  border-radius: 10px;
  transform-origin: 0 0;
}
.flashing-box {
  overflow: hidden;
}
.flashing-box > div {
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
.flashing-box > div.type1 {
  width: 10px;
  height: 5px;
}
.flashing-box > div.type2 {
  width: 5px;
  height: 5px;
}
.flashing-box > div.type3 {
  width: 5px;
  height: 10px;
  background-color: blue;
}
.flashing-box > div.pos1 {
  margin: 5px;
  margin-left: 5px;
}
.flashing-box > div.pos2 {
  margin: 5px;
  margin-left: 10px;
}
.flashing-box > div.pos3 {
  margin: 5px;
  margin-left: 15px;
}
.flashing-box > div.color1.light {
  background-color: #81ecec;
}
.flashing-box > div.color1.dark {
  background-color: rgba(129, 236, 236, 0.5);
}
.flashing-box > div.color2.light {
  background-color: #ffeaa7;
}
.flashing-box > div.color2.dark {
  background-color: rgba(255, 234, 167, 0.5);
}
/*# sourceMappingURL=styles.css.map */