/*
    Created on : Jul 30, 2023, 10:33:19 AM
    Author     : Woody41
*/
@font-face {
  font-family: sgc-font;
  src: url(../assets/fonts/Bank-Gothic-Medium.otf);
}
@font-face {
  font-family: sgc-glyph;
  src: url(../assets/fonts/glyph-symbols.ttf);
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sgc-font;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
html > body {
  margin: 6px;
  padding: 0;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  border: 10px solid hsl(180, 100%, 30%);
  border-radius: 40px;
}
/*
LEFT Panel styles. Left panel are binary boxes and flashing boxes under logo (including)
*/
.left-panel {
  height: 93%;
  width: 20%;
  float: left;
}
.left-panel > .binary-check-container {
  width: calc(100% - 115px);
  margin-right: 115px;
  height: 63%;
}
.left-panel > .binary-check-container > .binary-check {
  height: 100%;
}
.left-panel > .binary-check-container > .binary-check > .sgc-logo {
  width: 64%;
  height: 26%;
  /* not 27, because css is weird*/
  float: left;
  background-image: url(../assets/images/sgc-logo.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  /* prevent background overflowing to cyan border*/
}
.left-panel > .binary-check-container > .binary-check > .flashing-box {
  float: left;
  width: calc(12% - calc(calc(2px + 2px + 3px) * 2));
  height: calc(27% - calc(calc(2px + 2px + 3px) * 2));
  margin: 2px;
  padding: 2px;
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 2px;
}
.left-panel > .binary-check-container > .binary-check > .binary-container {
  float: left;
  width: 100%;
  height: 74%;
}
.left-panel > .binary-check-container > .binary-check > .binary-container > .binary-box {
  float: left;
  width: 88.2%;
}
.left-panel > .binary-check-container > .binary-check > .binary-container > .binary-box > .binary-text {
  width: calc(100% - calc(calc(2px + 2px + 3px) * 2) - 19px);
  height: calc(50% - calc(calc(2px + 2px + 3px) * 2) - 1px);
  margin: 2px;
  margin-left: 20px;
  padding: 2px;
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 2px;
  color: white;
  overflow: hidden;
  font-size: 23px;
}
.left-panel > .binary-check-container > .binary-check > .binary-container > .flashing-box {
  float: left;
  width: calc(12% - calc(calc(2px + 2px + 3px) * 2));
  height: calc(100% - calc(calc(2px + 2px + 3px) * 2) - 4px);
  margin: 2px;
  margin-left: 1px;
  padding: 2px;
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 2px;
}
.left-panel > .chevron-status {
  height: 37%;
}
.left-panel > .chevron-status > .chevron-status-container {
  width: calc(100% - calc(calc(2px + 2px + 3px) * 2) - 40px);
  height: calc(100% - calc(calc(2px + 3px) * 2) - 25px);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 2px;
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 2px;
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box {
  width: 100%;
  height: calc(100% / 7);
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box > .chevron-status-red {
  background-color: #e84118;
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box > .chevron-status-green,
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box .chevron-status-red {
  width: calc(28% - 38px - calc(3px * 2));
  height: calc(80% - 26px - calc(3px * 2));
  float: left;
  margin: 13px;
  margin-left: 25px;
  border: 3px solid hsl(180, 100%, 30%);
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box > .chevron-status-text,
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box .chevron-status-ok {
  float: left;
  width: 22%;
  height: 100%;
  text-align: center;
  line-height: 45px;
  font-size: 35px;
  color: white;
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box > .chevron-status-ok {
  font-size: 30px;
  color: #44bd32;
  visibility: hidden;
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box.active > .chevron-status-red {
  background-color: transparent;
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box.active > .chevron-status-green {
  background-color: #44bd32;
}
.left-panel > .chevron-status > .chevron-status-container > .chevron-status-box.active > .chevron-status-ok {
  visibility: initial;
}
/*
CENTER is stargate and some lines from chevron boxes
*/
.center {
  height: 93%;
  width: 63%;
  float: left;
}
.center > .stargate-container {
  width: 100%;
  height: calc(100% - 170px);
  position: relative;
}
.center > .stargate-container > .stargate {
  position: relative;
  top: 54%;
  left: 48%;
}
.center > .stargate-container > .stargate > .rings > .inner-ring {
  position: absolute;
  width: 700px;
  height: 700px;
  border: 5px solid hsl(180, 100%, 30%);
  border-radius: 100%;
  top: calc(calc(calc(700px / 2) * -1) - 5px);
  left: calc(calc(calc(700px / 2) * -1) - 5px);
  z-index: -1;
}
.center > .stargate-container > .stargate > .rings > .inner-ring::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  animation: growAndShrink 1.5s infinite;
  background: radial-gradient(circle, orangered 30%, black 70%);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-inner {
  position: absolute;
  width: calc(700px + 50px);
  height: calc(700px + 50px);
  border: 6px solid hsl(180, 100%, 30%);
  border-radius: 100%;
  top: calc(calc(calc(calc(700px / 2) * -1) - 6px) - 50px / 2);
  left: calc(calc(calc(calc(700px / 2) * -1) - 6px) - 50px / 2);
  z-index: -2;
  background-color: black;
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer {
  position: absolute;
  width: calc(700px + 145px);
  height: calc(700px + 145px);
  border: 6px solid hsl(180, 100%, 30%);
  border-radius: 100%;
  top: calc(calc(calc(calc(700px / 2) * -1) - 6px) - 145px / 2);
  left: calc(calc(calc(calc(700px / 2) * -1) - 6px) - 145px / 2);
  z-index: -3;
  /*                    transform: rotate(90deg);*/
  overflow: hidden;
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line {
  width: 102%;
  height: 6px;
  background-color: hsl(180, 100%, 30%);
  position: absolute;
  top: calc(50%);
  left: calc(49%);
  margin-left: -50%;
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(1) {
  transform: rotate(0deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(2) {
  transform: rotate(9deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(3) {
  transform: rotate(18deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(4) {
  transform: rotate(27deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(5) {
  transform: rotate(36deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(6) {
  transform: rotate(45deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(7) {
  transform: rotate(54deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(8) {
  transform: rotate(63deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(9) {
  transform: rotate(72deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(10) {
  transform: rotate(81deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(11) {
  transform: rotate(90deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(12) {
  transform: rotate(99deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(13) {
  transform: rotate(108deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(14) {
  transform: rotate(117deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(15) {
  transform: rotate(126deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(16) {
  transform: rotate(135deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(17) {
  transform: rotate(144deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(18) {
  transform: rotate(153deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(19) {
  transform: rotate(162deg);
}
.center > .stargate-container > .stargate > .rings > .glyph-ring-outer > .diagonal-line:nth-child(20) {
  transform: rotate(171deg);
}
.center > .stargate-container > .stargate > .rings > .outer-ring-1 {
  position: absolute;
  width: calc(700px + 170px);
  height: calc(700px + 170px);
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 100%;
  top: calc(calc(calc(calc(700px / 2) * -1) - 3px) - 170px / 2);
  left: calc(calc(calc(calc(700px / 2) * -1) - 3px) - 170px / 2);
  z-index: -3;
}
.center > .stargate-container > .stargate > .rings > .outer-ring-2 {
  position: absolute;
  width: calc(700px + 225px);
  height: calc(700px + 225px);
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 100%;
  top: calc(calc(calc(calc(700px / 2) * -1) - 3px) - 225px / 2);
  left: calc(calc(calc(calc(700px / 2) * -1) - 3px) - 225px / 2);
  z-index: -3;
}
.center > .stargate-container > .stargate > .rings > .outer-ring-3 {
  position: absolute;
  width: calc(700px + 240px);
  height: calc(700px + 240px);
  border: 15px solid hsl(180, 100%, 30%);
  border-radius: 100%;
  top: calc(calc(calc(calc(700px / 2) * -1) - 15px) - 240px / 2);
  left: calc(calc(calc(calc(700px / 2) * -1) - 15px) - 240px / 2);
  z-index: -3;
}
.center > .stargate-container > .stargate > .rings > .light {
  position: absolute;
}
.center > .stargate-container > .stargate > .rings > .light.light-top-right {
  top: calc(-270px - calc(80px / 2));
  left: calc(450px - calc(12px / 2));
  width: 12px;
  height: 80px;
  border-radius: 10px;
  background-color: white;
  transform: rotate(-32deg);
}
.center > .stargate-container > .stargate > .rings > .light.light-top-left {
  top: calc(-270px - calc(80px / 2));
  left: calc(-450px - calc(12px / 2));
  width: 12px;
  height: 80px;
  border-radius: 10px;
  background-color: white;
  transform: rotate(32deg);
}
.center > .stargate-container > .stargate > .rings > .light.light-bottom-right {
  top: calc(410px - calc(80px / 2));
  left: calc(335px - calc(12px / 2));
  width: 12px;
  height: 80px;
  border-radius: 10px;
  background-color: white;
  transform: rotate(231deg);
}
.center > .stargate-container > .stargate > .rings > .light.light-bottom-left {
  top: calc(410px - calc(80px / 2));
  left: calc(-335px - calc(12px / 2));
  width: 12px;
  height: 80px;
  border-radius: 10px;
  background-color: white;
  transform: rotate(-231deg);
}
.center > .stargate-container > .stargate > .rings > .light-container {
  position: absolute;
  top: 0;
  left: 0;
}
.center > .stargate-container > .stargate > .rings > .light-container.item1 {
  transform: rotate(59deg);
}
.center > .stargate-container > .stargate > .rings > .light-container.item2 {
  transform: rotate(140deg);
}
.center > .stargate-container > .stargate > .rings > .light-container.item3 {
  transform: rotate(-140deg);
}
.center > .stargate-container > .stargate > .rings > .light-container.item4 {
  transform: rotate(-59deg);
}
.center > .stargate-container > .stargate > .rings > .light-container > .light {
  position: absolute;
  top: calc(-510px - calc(12px / 2));
  left: calc(0px - calc(80px / 2));
  width: 80px;
  height: 12px;
  border-radius: 10px;
  background-color: white;
}
.center > .stargate-container > .stargate > .rings > .grip-container {
  position: absolute;
  top: 0;
  left: 0;
}
.center > .stargate-container > .stargate > .rings > .grip-container.item1 {
  transform: rotate(20deg);
}
.center > .stargate-container > .stargate > .rings > .grip-container.item2 {
  transform: rotate(140deg);
}
.center > .stargate-container > .stargate > .rings > .grip-container.item3 {
  transform: rotate(180deg);
}
.center > .stargate-container > .stargate > .rings > .grip-container.item4 {
  transform: rotate(-140deg);
}
.center > .stargate-container > .stargate > .rings > .grip-container.item5 {
  transform: rotate(-20deg);
}
.center > .stargate-container > .stargate > .rings > .grip-container > .grip-lower {
  position: absolute;
  top: calc(-458px - calc(25px / 2));
  left: calc(0px - calc(70px / 2));
  width: 70px;
  height: 25px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
}
.center > .stargate-container > .stargate > .rings > .grip-container > .grip-upper {
  position: absolute;
  top: calc(-467px - calc(48px / 2));
  left: calc(0px - calc(25px / 2));
  width: 25px;
  height: 48px;
  border: 2px solid white;
  border-top: none;
  border-radius: 0 0 10px 10px;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron {
  position: absolute;
  width: 100px;
  height: 100px;
  transition: all 0.2s ease;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron.active > .chevron-outer {
  margin-top: 25px;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron.active > .chevron-inner {
  top: -15px;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron.locked .light {
  opacity: 1 !Important;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-inner {
  position: relative;
  transition: all 0.1s ease;
  top: 0;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-inner > .top-line {
  position: absolute;
  left: -25px;
  width: 49px;
  height: 20px;
  border-top: 4px solid #aa1e14;
  border-left: 4px solid #aa1e14;
  border-right: 4px solid #aa1e14;
  background-color: black;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-inner > .bottom-line {
  position: absolute;
  left: -8px;
  width: 19px;
  height: 60px;
  border-bottom: 4px solid #aa1e14;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-inner > .middle-background {
  position: absolute;
  left: -8px;
  top: 20;
  width: 20px;
  height: 20px;
  background-color: black;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-inner > .side-right {
  position: absolute;
  left: 3px;
  top: 17px;
  width: 16px;
  height: 45px;
  border-right: 4px solid #aa1e14;
  background-color: black;
  transform: rotate(24deg);
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-inner > .side-left {
  position: absolute;
  left: -17px;
  top: 17px;
  width: 16px;
  height: 45px;
  border-left: 4px solid #aa1e14;
  border-radius: 5px;
  background-color: black;
  transform: rotate(-24deg);
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-inner > .light-middle {
  position: absolute;
  left: -32px;
  top: -25px;
  width: 70px;
  height: 100px;
  background: radial-gradient(ellipse at center, #eb2f06 10%, rgba(255, 255, 255, 0) 70%, transparent 100%);
  opacity: 0;
  transition: all 0.3s ease;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer {
  position: relative;
  margin-top: 5px;
  transition: all 0.2s ease;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .bottom-line {
  position: absolute;
  left: calc(-28px + 4px);
  top: 80px;
  width: 55px;
  height: 10px;
  border-bottom: 4px solid #aa1e14;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .bottom-line-top {
  position: absolute;
  left: calc(-15px + 4px);
  top: 72px;
  width: 30px;
  height: 15px;
  background-color: black;
  border-top: 4px solid #aa1e14;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .wing-left {
  position: absolute;
  left: -47px;
  top: -14px;
  width: 16px;
  height: 105px;
  border-left: 4px solid #aa1e14;
  border-right: 4px solid #aa1e14;
  border-top: 4px solid #aa1e14;
  border-radius: 5px 5px 0 0;
  background-color: black;
  transform: rotate(-24deg);
  overflow: hidden;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .wing-left > .line {
  position: absolute;
  left: -30px;
  width: 100px;
  height: 3px;
  background-color: #aa1e14;
  transform: rotate(24deg);
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .wing-left > .line:nth-child(1) {
  top: 30px;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .wing-left > .line:nth-child(2) {
  top: 45px;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .wing-left > .line:nth-child(3) {
  top: 60px;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .wing-left > .line:nth-child(4) {
  top: 75px;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .wing-right {
  position: absolute;
  left: 30px;
  top: -14px;
  width: 16px;
  height: 105px;
  border-left: 4px solid #aa1e14;
  border-right: 4px solid #aa1e14;
  border-top: 4px solid #aa1e14;
  border-radius: 5px 5px 0 0;
  background-color: black;
  transform: rotate(24deg);
  overflow: hidden;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .wing-right > .line {
  position: absolute;
  left: -30px;
  width: 100px;
  height: 3px;
  background-color: #aa1e14;
  transform: rotate(-24deg);
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .wing-right > .line:nth-child(1) {
  top: 20px;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .wing-right > .line:nth-child(2) {
  top: 35px;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .wing-right > .line:nth-child(3) {
  top: 50px;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .wing-right > .line:nth-child(4) {
  top: 65px;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .light-left {
  position: absolute;
  left: -57px;
  top: -15px;
  width: 40px;
  height: 100px;
  background: radial-gradient(ellipse at center, #eb2f06 10%, rgba(255, 255, 255, 0) 70%, transparent 100%);
  transform: rotate(-24deg);
  opacity: 0;
  transition: all 0.3s ease;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron > .chevron-outer > .light-right {
  position: absolute;
  left: 25px;
  top: -15px;
  width: 40px;
  height: 100px;
  background: radial-gradient(ellipse at center, #eb2f06 10%, rgba(255, 255, 255, 0) 70%, transparent 100%);
  transform: rotate(24deg);
  opacity: 0;
  transition: all 0.3s ease;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron:nth-child(1) {
  top: -490px;
  left: 0%;
  transform: rotate(0deg);
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron:nth-child(2) {
  top: -360px;
  left: 272;
  transform: rotate(40deg);
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron:nth-child(3) {
  top: -90px;
  left: 390;
  transform: rotate(80deg);
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron:nth-child(4) {
  top: 220px;
  left: 300;
  transform: rotate(120deg);
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron:nth-child(5) {
  top: 380px;
  left: 50;
  transform: rotate(160deg);
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron:nth-child(6) {
  top: 350px;
  left: -240;
  transform: rotate(200deg);
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron:nth-child(7) {
  top: 130px;
  left: -453;
  transform: rotate(240deg);
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron:nth-child(8) {
  top: -180px;
  left: -473;
  transform: rotate(280deg);
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron:nth-child(9) {
  top: -423px;
  left: -290;
  transform: rotate(320deg);
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron.inactive div {
  border-color: gray !Important;
}
.center > .stargate-container > .stargate > .chevron-holder > .chevron.inactive .line {
  background-color: grey !Important;
}
.center > .stargate-container > .stargate > .line-container {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}
.center > .stargate-container > .stargate > .line-container > .linear {
  position: absolute;
  left: 0px;
  border: 2px solid hsl(180, 100%, 30%);
}
.center > .stargate-container > .stargate > .line-container > .linear.line-chevron4 {
  top: -590px;
  width: 1000px;
  left: -400px;
}
.center > .stargate-container > .stargate > .line-container > .linear.line-chevron5 {
  top: -570px;
  width: 930px;
  left: -330px;
}
.center > .stargate-container > .stargate > .line-container > .linear.line-chevron6 {
  top: -550px;
  width: 870px;
  left: -270;
}
.center > .stargate-container > .stargate > .line-container > .linear.line-chevron7 {
  top: -530px;
  width: 600px;
}
.center > .stargate-container > .stargate > .line-container > .line.line-chevron1 {
  position: absolute;
  top: -390px;
  left: 290px;
  width: 70px;
  border: 2px solid hsl(180, 100%, 30%);
  transform: rotate(132deg);
}
.center > .stargate-container > .stargate > .line-container > .line.line-chevron1 > .line {
  position: absolute;
  top: -29px;
  left: -62px;
  width: 70px;
  border: 2px solid hsl(180, 100%, 30%);
  transform: rotate(-132deg);
}
.center > .stargate-container > .stargate > .line-container > .line.line-chevron2 {
  position: absolute;
  top: -95px;
  left: 460px;
  width: 70px;
  border: 2px solid hsl(180, 100%, 30%);
}
.center > .stargate-container > .stargate > .line-container > .line.line-chevron3 {
  position: absolute;
  top: 250px;
  left: 400px;
  width: 70px;
  border: 2px solid hsl(180, 100%, 30%);
}
.center > .stargate-container > .stargate > .line-container > .line.line-chevron7 > .line {
  position: absolute;
  top: 0px;
  left: -2;
  height: 50px;
  border: 2px solid hsl(180, 100%, 30%);
}
.center > .stargate-container > .stargate > .line-container > .left-line-container > .line.line-chevron6 {
  position: absolute;
  top: -395px;
  left: -356px;
  width: 70px;
  border: 2px solid hsl(180, 100%, 30%);
  transform: rotate(-132deg);
}
.center > .stargate-container > .stargate > .line-container > .left-line-container > .line.line-chevron6 > .line {
  position: absolute;
  top: 22px;
  left: 61px;
  width: 70px;
  border: 2px solid hsl(180, 100%, 30%);
  transform: rotate(42deg);
}
.center > .stargate-container > .stargate > .line-container > .left-line-container > .line.line-chevron6 > .line > .line {
  position: absolute;
  top: 34px;
  left: 50px;
  width: 93px;
  border: 2px solid hsl(180, 100%, 30%);
  transform: rotate(52deg);
}
.center > .stargate-container > .stargate > .line-container > .left-line-container > .line.line-chevron5 {
  position: absolute;
  top: -104px;
  left: -552px;
  width: 70px;
  border: 2px solid hsl(180, 100%, 30%);
}
.center > .stargate-container > .stargate > .line-container > .left-line-container > .line.line-chevron5 > .line {
  position: absolute;
  top: -162px;
  left: -162px;
  width: 320px;
  border: 2px solid hsl(180, 100%, 30%);
  transform: rotate(90deg);
}
.center > .stargate-container > .stargate > .line-container > .left-line-container > .line.line-chevron5 > .line > .line {
  position: absolute;
  top: -112px;
  left: -207px;
  width: 262px;
  border: 2px solid hsl(180, 100%, 30%);
  transform: rotate(57deg);
}
.center > .stargate-container > .stargate > .line-container > .left-line-container > .line.line-chevron4 {
  position: absolute;
  top: 246px;
  left: -588px;
  width: 170px;
  border: 2px solid hsl(180, 100%, 30%);
}
.center > .stargate-container > .stargate > .line-container > .left-line-container > .line.line-chevron4 > .line {
  position: absolute;
  top: -357px;
  left: -358px;
  width: 710px;
  border: 2px solid hsl(180, 100%, 30%);
  transform: rotate(90deg);
}
.center > .stargate-container > .stargate > .line-container > .left-line-container > .line.line-chevron4 > .line > .line {
  position: absolute;
  top: -96px;
  left: -177px;
  width: 224px;
  border: 2px solid hsl(180, 100%, 30%);
  transform: rotate(56deg);
}
.center > .status-container {
  width: 100%;
  height: 170px;
}
.center > .status-container > .inner-box {
  position: relative;
  height: calc(100% - 10px);
  width: 1100px;
  margin: auto;
  border: 5px solid hsl(180, 100%, 30%);
  border-radius: 10px;
}
.center > .status-container > .inner-box > .border-black-left {
  position: absolute;
  left: calc(0% - 3px - 2px);
  top: 20%;
  width: 5px;
  height: 60%;
  background-color: black;
}
.center > .status-container > .inner-box > .border-black-right {
  position: absolute;
  right: calc(0% - 3px - 2px);
  top: 20%;
  width: 5px;
  height: 60%;
  background-color: black;
}
.center > .status-container > .inner-box > .lst-code-1 {
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  font-size: 30px;
  letter-spacing: 4px;
}
.center > .status-container > .inner-box > .lst-code-2 {
  position: absolute;
  top: -40px;
  right: 0px;
  color: white;
  font-size: 30px;
  letter-spacing: 4px;
}
.center > .status-container > .inner-box > .line-border-top {
  position: absolute;
  top: 0;
  left: 0;
}
.center > .status-container > .inner-box > .line-border-top > .line-border {
  width: 3px;
  height: 15px;
  background-color: hsl(180, 100%, 30%);
  float: left;
  margin-left: 38px;
}
.center > .status-container > .inner-box > .line-border-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
.center > .status-container > .inner-box > .line-border-bottom > .line-border {
  width: 3px;
  height: 15px;
  background-color: hsl(180, 100%, 30%);
  float: left;
  margin-left: 38px;
}
.center > .status-container > .inner-box > .flashing-box {
  position: absolute;
  top: -3px;
  height: 100%;
  width: 30px;
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 3px;
}
.center > .status-container > .inner-box > .flashing-box.flashing-box-1 {
  right: -50px;
}
.center > .status-container > .inner-box > .flashing-box.flashing-box-2 {
  right: -95px;
}
.center > .status-container > .inner-box > .notification-box {
  width: 100%;
  height: 100%;
  position: absolute;
}
.center > .status-container > .inner-box > .notification-box > .notification-text {
  text-align: center;
  margin: 0;
  font-size: 156px;
}
.center > .status-container > .inner-box > .notification-box > .notification-text.idle {
  animation: flashingTextWhite 3s infinite;
  color: white;
  letter-spacing: 30px;
  display: none;
}
.center > .status-container > .inner-box > .notification-box > .notification-text.engaged {
  animation: engagedAnimation 3s;
  color: black;
  letter-spacing: 30px;
  display: none;
}
.center > .status-container > .inner-box > .notification-box > .notification-text.locked {
  animation: flashingTextWhite 3s infinite;
  color: black;
  letter-spacing: 30px;
  display: none;
}
.center > .status-container > .inner-box > .notification-box > .notification-text.incoming {
  animation: flashingTextRed 1s infinite;
  color: red;
  letter-spacing: 15px;
  display: none;
}
.center > .status-container > .inner-box > .notification-box > .notification-text.shutdown {
  animation: flashingTextWhite 3s infinite;
  color: black;
  letter-spacing: 30px;
  display: none;
}
.center > .status-container > .inner-box > .notification-box.idle > .idle {
  display: block;
}
.center > .status-container > .inner-box > .notification-box.engaged > .engaged {
  display: block;
}
.center > .status-container > .inner-box > .notification-box.locked > .locked {
  display: block;
}
.center > .status-container > .inner-box > .notification-box.incoming > .incoming {
  display: block;
}
.center > .status-container > .inner-box > .notification-box.shutdown > .shutdown {
  display: block;
}
/*
RIGHT Panel are chevron boxes 
*/
.right-panel {
  height: 93%;
  width: 17%;
  float: left;
}
.right-panel > .character-border {
  display: inline-block;
  width: calc(100% - 15px);
  margin-left: 15px;
  margin-top: 15px;
}
.right-panel > .character-border span {
  border-top: 2px solid hsl(180, 100%, 30%);
  position: relative;
  color: white;
  display: block;
  float: left;
  font-size: 40px;
  line-height: 25px;
  padding: 10px;
}
.right-panel > .character-border span::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  /* Set the border height to half of the character height */
  border-right: 2px solid hsl(180, 100%, 30%);
  /* You can adjust the border color, style, and width as desired */
}
.right-panel > .character-border span:first-child {
  border-left: 2px solid hsl(180, 100%, 30%);
}
.right-panel > .character-border span:last-of-type {
  border-right: 2px solid hsl(180, 100%, 30%);
}
.right-panel > .character-border span:last-of-type::after {
  border: none;
}
.right-panel > .character-border > .destination-text {
  text-align: right;
  padding-right: 30px;
  padding-top: 25px;
  letter-spacing: 2px;
  font-size: 32px;
  color: white;
  margin-bottom: 0;
}
.right-panel > .line-container {
  width: 100%;
}
.right-panel > .line-container > .line {
  width: 75%;
  height: 3px;
  background-color: hsl(180, 100%, 30%);
  margin-top: 15px;
}
.right-panel > .line-container > .line:first-of-type {
  margin-top: 10px;
}
.right-panel > .glyph-container {
  /* TODO: Adjust variables to be variable and add class which will calculate how many glyphs we use 7 or 8 (or 9) */
  position: relative;
  width: 75%;
}
.right-panel > .glyph-container > .glyph {
  width: calc(100% - 70px);
  height: 125px;
  margin-top: 20px;
  margin-left: 70px;
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 2px;
  position: relative;
}
.right-panel > .glyph-container > .glyph.active {
  border-color: red;
}
.right-panel > .glyph-container > .glyph > .line {
  position: absolute;
  height: 3px;
  background-color: hsl(180, 100%, 30%);
}
.right-panel > .glyph-container > .glyph > .line > .line-holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.right-panel > .glyph-container > .glyph > .line > .line-holder > .line {
  position: absolute;
  background-color: hsl(180, 100%, 30%);
}
.right-panel > .glyph-container > .glyph:nth-child(1) > .line {
  right: 100%;
  top: 50%;
  width: 100px;
}
.right-panel > .glyph-container > .glyph:nth-child(2) > .line {
  right: 100%;
  top: 50%;
  width: 100px;
}
.right-panel > .glyph-container > .glyph:nth-child(3) > .line {
  right: 100%;
  top: 50%;
  width: 100px;
}
.right-panel > .glyph-container > .glyph:nth-child(4) > .line {
  left: 100%;
  top: 50%;
  width: 80px;
}
.right-panel > .glyph-container > .glyph:nth-child(4) > .line > .line-holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.right-panel > .glyph-container > .glyph:nth-child(4) > .line > .line-holder > .line {
  left: 100%;
  width: 3px;
  height: 522.5px;
  margin-top: calc(-522.5px + 3px);
}
.right-panel > .glyph-container > .glyph:nth-child(5) > .line {
  left: 100%;
  top: 50%;
  width: 60px;
}
.right-panel > .glyph-container > .glyph:nth-child(5) > .line > .line-holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.right-panel > .glyph-container > .glyph:nth-child(5) > .line > .line-holder > .line {
  left: 100%;
  width: 3px;
  height: 672.5px;
  margin-top: calc(-672.5px + 3px);
}
.right-panel > .glyph-container > .glyph:nth-child(6) > .line {
  left: 100%;
  top: 50%;
  width: 40px;
}
.right-panel > .glyph-container > .glyph:nth-child(6) > .line > .line-holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.right-panel > .glyph-container > .glyph:nth-child(6) > .line > .line-holder > .line {
  left: 100%;
  width: 3px;
  height: 822.5px;
  margin-top: calc(-822.5px + 3px);
}
.right-panel > .glyph-container > .glyph:nth-child(7) > .line {
  left: 100%;
  top: 50%;
  width: 20px;
}
.right-panel > .glyph-container > .glyph:nth-child(7) > .line > .line-holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.right-panel > .glyph-container > .glyph:nth-child(7) > .line > .line-holder > .line {
  left: 100%;
  width: 3px;
  height: 972.5px;
  margin-top: calc(-972.5px + 3px);
}
.right-panel > .glyph-container > .flashing-box {
  position: absolute;
  right: -85;
  bottom: 0;
  width: 30px;
  height: 200px;
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 2px;
}
/*
BOTTOM is auth code and footer of the page, user info etc.
*/
.bottom {
  height: calc(100% - 93%);
  width: 100%;
  float: left;
}
.bottom > .bottom-left {
  width: 45%;
  float: left;
}
.bottom > .bottom-left > .title-auth {
  padding-left: 15px;
  font-size: 34px;
  margin: 0;
  color: white;
  margin-top: -10px;
}
.bottom > .bottom-left > .character-border {
  display: inline-block;
  width: calc(100% - 15px);
  margin-left: 15px;
  margin-top: 5px;
}
.bottom > .bottom-left > .character-border span {
  border-bottom: 2px solid hsl(180, 100%, 30%);
  position: relative;
  color: white;
  display: block;
  float: left;
  font-size: 40px;
  line-height: 25px;
  padding: 6px 0.8% 5px 0.8%;
}
.bottom > .bottom-left > .character-border span::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  /* Set the border height to half of the character height */
  border-right: 2px solid hsl(180, 100%, 30%);
  /* You can adjust the border color, style, and width as desired */
}
.bottom > .bottom-left > .character-border span:first-child {
  border-left: 2px solid hsl(180, 100%, 30%);
}
.bottom > .bottom-left > .character-border span:last-child {
  border-right: 2px solid hsl(180, 100%, 30%);
}
.bottom > .bottom-left > .character-border span:last-child::after {
  border: none;
}
.bottom > .bottom-center {
  width: calc(15% - 70px);
  height: 100%;
  float: left;
  padding-left: 70px;
}
.bottom > .bottom-center > img {
  max-height: 100%;
  max-width: 100%;
}
.bottom > .bottom-center > img:hover {
  background-color: hsl(180, 100%, 30%);
  cursor: pointer;
}
.bottom > .bottom-right {
  width: 40%;
  float: left;
  padding-top: 15px;
}
.bottom > .bottom-right > p {
  color: white;
  margin: 0;
  font-size: 25px;
  letter-spacing: 7px;
  line-height: 23px;
  padding-top: 0px;
}
.bottom > .bottom-right > p > span {
  color: hsl(180, 100%, 30%);
}
/*
Utils
*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.generated-line {
  position: absolute;
  height: 2px;
  border: 1px solid hsl(180, 100%, 30%);
  background-color: hsl(180, 100%, 30%);
  border-radius: 10px;
  transform-origin: 0 0;
}
.flashing-box {
  overflow: hidden;
}
.flashing-box > div {
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
.flashing-box > div.type1 {
  width: 10px;
  height: 5px;
}
.flashing-box > div.type2 {
  width: 5px;
  height: 5px;
}
.flashing-box > div.type3 {
  width: 5px;
  height: 10px;
  background-color: blue;
}
.flashing-box > div.pos1 {
  margin: 5px;
  margin-left: 5px;
}
.flashing-box > div.pos2 {
  margin: 5px;
  margin-left: 10px;
}
.flashing-box > div.pos3 {
  margin: 5px;
  margin-left: 15px;
}
.flashing-box > div.color1.light {
  background-color: #81ecec;
}
.flashing-box > div.color1.dark {
  background-color: rgba(129, 236, 236, 0.5);
}
.flashing-box > div.color2.light {
  background-color: #ffeaa7;
}
.flashing-box > div.color2.dark {
  background-color: rgba(255, 234, 167, 0.5);
}
.line.active,
.generated-line.active {
  border-color: red !Important;
  background-color: red !Important;
}
.flying-glyph {
  font-family: sgc-glyph;
  position: absolute;
  width: 1px;
  height: 1px;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  /* Initially hidden */
  transition: all 1.5s;
}
@keyframes flashingTextWhite {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}
@keyframes flashingTextRed {
  0% {
    color: red;
  }
  50% {
    color: black;
  }
  100% {
    color: red;
  }
}
@keyframes engagedAnimation {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}
@keyframes growAndShrink {
  0%,
  100% {
    transform: scale(0);
  }
  18% {
    transform: scale(0.3);
  }
  36% {
    transform: scale(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */