/*
    Created on : Jul 30, 2023, 10:33:19 AM
    Author     : Woody41
*/

@cyan: hsla(180, 100%, 30%, 1);

@main-height: 93%;
@bottom-height: calc( 100% - @main-height);

@box-border-radius: 2px;
@border-size: 3px;

@font-face {
    font-family: sgc-font;
    src: url(../assets/fonts/Bank-Gothic-Medium.otf);
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sgc-font;
    background-image: url(../assets/images/stargates.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    &>body {
        margin: 6px;
        padding: 0;
        width: calc( 100% - 32px );
        height: calc( 100% - 32px );

        border: 10px solid @cyan;
        border-radius: 40px;
    }
}
/*
LEFT Panel styles. Left panel are binary boxes and flashing boxes under logo (including)
*/
.left-panel {
    @margin-size: 2px;
    @padding-size: 2px;

    height: @main-height;
    width: 20%;
    float: left;
    & > .binary-check-container {
        @binary-check-margin: 115px;
        width: calc(100% - @binary-check-margin);
        margin-right: @binary-check-margin;
        height: 63%;
        & > .binary-check {
            height: 100%;
            & > .sgc-logo {
                width: 64%;
                height: 26%; /* not 27, because css is weird*/
                float: left;
                background-image: url(../assets/images/sgc-logo.gif);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                border-radius: 100px; /* prevent background overflowing to cyan border*/
            }
            & > .flashing-box {
                float: left;
                width: calc( 12% - calc(calc(@margin-size + @padding-size + @border-size) * 2) );
                height: calc( 27% - calc(calc(@margin-size + @padding-size + @border-size) * 2) );
                margin: @margin-size;
                padding: @padding-size;
                border: @border-size solid @cyan;
                border-radius: @box-border-radius;
            }
            & > .binary-container {
                float: left;
                width: 100%;
                height: 74%;
                & > .binary-box {
                    float: left;
                    width: 88.2%;


                    & > .binary-text {
                        width: calc( 100% - calc(calc(@margin-size + @padding-size + @border-size) * 2) - 19px);
                        height: calc( 50% - calc(calc(@margin-size + @padding-size + @border-size) * 2) - 1px);

                        margin: @margin-size;
                        margin-left: 20px;
                        padding: @padding-size;
                        border: @border-size solid @cyan;
                        border-radius: @box-border-radius;

                        color: white;
                        overflow: hidden;
                        font-size: 23px;
                    }
                }
                & > .flashing-box{
                    float: left;
                    width: calc( 12% - calc(calc(@margin-size + @padding-size + @border-size) * 2));
                    height: calc( 100% - calc(calc(@margin-size + @padding-size + @border-size) * 2) - 4px);

                    margin: @margin-size;
                    margin-left: 1px;
                    padding: @padding-size;
                    border: @border-size solid @cyan;
                    border-radius: @box-border-radius;
                }
            }
        }
    }
    & > .chevron-status {
        height: 37%;
        & > .chevron-status-container {
            width: calc( 100% - calc(calc(@margin-size + @padding-size + @border-size) * 2) - 40px);
            height: calc( 100% - calc(calc(@padding-size + @border-size) * 2) - 25px);

            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            margin-top: 5px;
            padding: @padding-size;
            border: @border-size solid @cyan;
            border-radius: @box-border-radius;
            & > .chevron-status-box {
                width: 100%;
                height: calc(100% / 7);

                & > .chevron-status-red {
                    background-color: rgba(232, 65, 24,1.0);
                }
                & > .chevron-status-green, .chevron-status-red {
                    width: calc( 28% - 38px - calc( @border-size * 2 ));
                    height: calc( 80% - 26px - calc( @border-size * 2 ));
                    float: left;
                    margin: 13px;
                    margin-left: 25px;

                    border: @border-size solid @cyan;


                }
                & > .chevron-status-text, .chevron-status-ok {
                    float: left;
                    width: 22%;
                    height: 100%;
                    text-align: center;
                    line-height: 45px;
                    font-size: 35px;
                    color: white;
                }
                & > .chevron-status-ok {
                    font-size: 30px;
                    color: rgba(68, 189, 50,1.0);
                    visibility: hidden;
                }

                &.active {
                    & > .chevron-status-red {
                        background-color: transparent;
                    }
                    & > .chevron-status-green {
                        background-color: rgba(68, 189, 50,1.0);
                    }
                    & > .chevron-status-ok {
                        visibility: initial;
                    }
                }
            }
        }

    }
}
/*
CENTER is stargate and some lines from chevron boxes
*/
.center {
    height: @main-height;
    width: 63%;
    float: left;

    @status-container-height: 170px;
    & > .stargate-container {
        width: 100%;
        height: calc( 100% - @status-container-height );
        @stargate-diameter: 700px;
        @stargate-radius: calc( @stargate-diameter / 2 );
        @stargate-radius-negative: calc( @stargate-radius * -1 );

        @stargate-position-top: 54%;
        @stargate-position-left: 48%;
        position: relative;


        & > .stargate {
            position: relative;
            top: @stargate-position-top;
            left: @stargate-position-left;
            & > .rings {
                & > .inner-ring {
                    position: absolute;
                    width: @stargate-diameter;
                    height: @stargate-diameter;
                    @ring-border-size: 5px;
                    border: @ring-border-size solid @cyan;
                    border-radius: 100%;
                    top: calc( @stargate-radius-negative - @ring-border-size );
                    left: calc( @stargate-radius-negative - @ring-border-size );
                    z-index: -1;
                }
                & > .glyph-ring-inner {
                    @glyph-ring-size: 50px;
                    position: absolute;
                    @ring-border-size: 6px;
                    width: calc( @stargate-diameter + @glyph-ring-size );
                    height: calc( @stargate-diameter + @glyph-ring-size );
                    border: @ring-border-size solid @cyan;
                    border-radius: 100%;
                    top: calc( calc( @stargate-radius-negative - @ring-border-size ) - @glyph-ring-size / 2 );
                    left: calc( calc( @stargate-radius-negative - @ring-border-size ) - @glyph-ring-size / 2 );
                    z-index: -2;
                    background-color: black;
                }
                & > .glyph-ring-outer {
                    @glyph-ring-size: 145px;
                    position: absolute;
                    @ring-border-size: 6px;
                    width: calc( @stargate-diameter + @glyph-ring-size );
                    height: calc( @stargate-diameter + @glyph-ring-size );
                    border: @ring-border-size solid @cyan;
                    border-radius: 100%;
                    top: calc( calc( @stargate-radius-negative - @ring-border-size ) - @glyph-ring-size / 2 );
                    left: calc( calc( @stargate-radius-negative - @ring-border-size ) - @glyph-ring-size / 2 );
                    z-index: -3;

                    /*                    transform: rotate(90deg);*/
                    overflow: hidden;
                    & > .diagonal-line {
                        width: 102%;
                        height: 6px;
                        background-color: @cyan;
                        position: absolute;
                        top: calc( 50% );
                        left: calc( 49% );
                        margin-left: -50%;
                        &:nth-child(1) {
                            transform: rotate(0deg);
                        }

                        &:nth-child(2) {
                            transform: rotate(9deg);
                        }

                        &:nth-child(3) {
                            transform: rotate(18deg);
                        }

                        &:nth-child(4) {
                            transform: rotate(27deg);
                        }

                        &:nth-child(5) {
                            transform: rotate(36deg);
                        }

                        &:nth-child(6) {
                            transform: rotate(45deg);
                        }

                        &:nth-child(7) {
                            transform: rotate(54deg);
                        }

                        &:nth-child(8) {
                            transform: rotate(63deg);
                        }

                        &:nth-child(9) {
                            transform: rotate(72deg);
                        }

                        &:nth-child(10) {
                            transform: rotate(81deg);
                        }

                        &:nth-child(11) {
                            transform: rotate(90deg);
                        }

                        &:nth-child(12) {
                            transform: rotate(99deg);
                        }

                        &:nth-child(13) {
                            transform: rotate(108deg);
                        }

                        &:nth-child(14) {
                            transform: rotate(117deg);
                        }

                        &:nth-child(15) {
                            transform: rotate(126deg);
                        }

                        &:nth-child(16) {
                            transform: rotate(135deg);
                        }

                        &:nth-child(17) {
                            transform: rotate(144deg);
                        }

                        &:nth-child(18) {
                            transform: rotate(153deg);
                        }

                        &:nth-child(19) {
                            transform: rotate(162deg);
                        }

                        &:nth-child(20) {
                            transform: rotate(171deg);
                        }

                    }
                }
                & > .outer-ring-1 {
                    @ring-size: 170px;
                    position: absolute;
                    @ring-border-size: 3px;
                    width: calc( @stargate-diameter + @ring-size );
                    height: calc( @stargate-diameter + @ring-size );
                    border: @ring-border-size solid @cyan;
                    border-radius: 100%;
                    top: calc( calc( @stargate-radius-negative - @ring-border-size ) - @ring-size / 2 );
                    left: calc( calc( @stargate-radius-negative - @ring-border-size ) - @ring-size / 2 );
                    z-index: -3;
                }
                & > .outer-ring-2 {
                    @ring-size: 225px;
                    @ring-border-size: 3px;
                    position: absolute;
                    width: calc( @stargate-diameter + @ring-size );
                    height: calc( @stargate-diameter + @ring-size );
                    border: @ring-border-size solid @cyan;
                    border-radius: 100%;
                    top: calc( calc( @stargate-radius-negative - @ring-border-size ) - @ring-size / 2 );
                    left: calc( calc( @stargate-radius-negative - @ring-border-size ) - @ring-size / 2 );
                    z-index: -3;
                }
                & > .outer-ring-3 {
                    @ring-size: 240px;
                    @ring-border-size: 15px;
                    position: absolute;
                    width: calc( @stargate-diameter + @ring-size );
                    height: calc( @stargate-diameter + @ring-size );
                    border: @ring-border-size solid @cyan;
                    border-radius: 100%;
                    top: calc( calc( @stargate-radius-negative - @ring-border-size ) - @ring-size / 2 );
                    left: calc( calc( @stargate-radius-negative - @ring-border-size ) - @ring-size / 2 );
                    z-index: -3;
                }
                & > .light {
                    position: absolute;
                    @light-width: 12px;
                    @light-height: 80px;
                    &.light-top-right {
                        top: calc( -270px - calc( @light-height / 2 ));
                        left: calc( 450px - calc( @light-width / 2 ));
                        width: @light-width;
                        height: @light-height;
                        border-radius: 10px;
                        background-color: white;

                        transform: rotate(-32deg);
                    }
                    &.light-top-left {
                        top: calc( -270px - calc( @light-height / 2 ));
                        left: calc( -450px - calc( @light-width / 2 ));
                        width: @light-width;
                        height: @light-height;
                        border-radius: 10px;
                        background-color: white;

                        transform: rotate(32deg);
                    }
                    &.light-bottom-right {
                        top: calc( 410px - calc( @light-height / 2 ));
                        left: calc( 335px - calc( @light-width / 2 ));
                        width: @light-width;
                        height: @light-height;
                        border-radius: 10px;
                        background-color: white;

                        transform: rotate(231deg);
                    }
                    &.light-bottom-left {
                        top: calc( 410px - calc( @light-height / 2 ));
                        left: calc( -335px - calc( @light-width / 2 ));
                        width: @light-width;
                        height: @light-height;
                        border-radius: 10px;
                        background-color: white;

                        transform: rotate(-231deg);
                    }
                }

                & > .light-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    &.item1 {
                        transform: rotate(59deg);
                    }
                    &.item2 {
                        transform: rotate(140deg);
                    }
                    &.item3 {
                        transform: rotate(-140deg);
                    }
                    &.item4 {
                        transform: rotate(-59deg);
                    }
                    & > .light {
                        @grip-width: 80px;
                        @grip-height: 12px;
                        position: absolute;
                        top: calc( -510px - calc( @grip-height / 2 ));
                        left: calc( 0px - calc( @grip-width / 2 ));
                        width: @grip-width;
                        height: @grip-height;
                        border-radius: 10px;
                        background-color: white;
                    }
                }
                & > .grip-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    &.item1 {
                        transform: rotate(20deg);
                    }
                    &.item2 {
                        transform: rotate(140deg);
                    }
                    &.item3 {
                        transform: rotate(180deg);
                    }
                    &.item4 {
                        transform: rotate(-140deg);
                    }
                    &.item5 {
                        transform: rotate(-20deg);
                    }
                    & > .grip-lower {
                        @grip-width: 70px;
                        @grip-height: 25px;
                        position: absolute;
                        top: calc( -458px - calc( @grip-height / 2 ));
                        left: calc( 0px - calc( @grip-width / 2 ));
                        width: @grip-width;
                        height: @grip-height;
                        border: 2px solid white;
                        border-radius: 10px;
                        background-color: black;
                    }
                    & > .grip-upper {
                        @grip-width: 25px;
                        @grip-height: 48px;
                        position: absolute;
                        top: calc( -467px - calc( @grip-height / 2 ));
                        left: calc( 0px - calc( @grip-width / 2 ));
                        width: @grip-width;
                        height: @grip-height;
                        border: 2px solid white;
                        border-top: none;
                        border-radius: 0 0 10px 10px;
                    }
                }
            }
            & > .chevron-holder {
                & > .chevron {
                    position: absolute;

                    width: 100px;
                    height: 100px;

                    &.active {
                        & > .chevron-outer {
                            margin-top: 25px;
                        }
                        & > .chevron-inner {
                            top: -15px;
                        }
                    }



                    @color-red: rgba(170, 30, 20, 1.0);
                    @color-red-light: rgba(235, 47, 6,1.0);
                    @border-size: 4px;

                    transition: all .2s ease;


                    &.locked {
                        & .light {
                            opacity: 1 !Important;
                        }
                    }


                    & > .chevron-inner {
                        position: relative;
                        transition: all .1s ease;
                        top: 0;
                        & > .top-line {
                            position: absolute;
                            left: -25px;
                            width: 49px;
                            height: 20px;
                            border-top: @border-size solid @color-red;
                            border-left: @border-size solid @color-red;
                            border-right: @border-size solid @color-red;
                            background-color: black;
                        }
                        & > .bottom-line {
                            position: absolute;
                            left: -8px;
                            width: 19px;
                            height: 60px;
                            border-bottom: @border-size solid @color-red;
                        }
                        & > .middle-background {
                            position: absolute;
                            left: -8px;
                            top: 20;
                            width: 20px;
                            height: 20px;
                            background-color: black;
                        }
                        & > .side-right {
                            position: absolute;
                            left: 3px;
                            top: 17px;
                            width: 16px;
                            height: 45px;
                            border-right: @border-size solid @color-red;
                            background-color: black;
                            transform: rotate(24deg);
                        }
                        & > .side-left {
                            position: absolute;
                            left: -17px;
                            top: 17px;
                            width: 16px;
                            height: 45px;
                            border-left: @border-size solid @color-red;
                            border-radius: 5px;
                            background-color: black;
                            transform: rotate(-24deg);
                        }
                        & > .light-middle {
                            position: absolute;
                            left: -32px;
                            top: -25px;
                            width: 70px;
                            height: 100px;
                            background: radial-gradient(ellipse at center, @color-red-light 10%, rgba(255, 255, 255, 0) 70%, transparent 100%);
                            opacity: 0;
                            transition: all .3s ease;
                        }
                    }
                    & > .chevron-outer {
                        position: relative;
                        margin-top: 5px;
                        transition: all .2s ease;
                        & > .bottom-line {
                            position: absolute;
                            left: calc( -28px + @border-size);
                            top: 80px;
                            width: 55px;
                            height: 10px;
                            border-bottom: @border-size solid @color-red;
                        }
                        & > .bottom-line-top {
                            position: absolute;
                            left: calc( -15px + @border-size);
                            top: 72px;
                            width: 30px;
                            height: 15px;
                            background-color: black;
                            border-top: @border-size solid @color-red;
                        }

                        & > .wing-left {
                            position: absolute;
                            left: -47px;
                            top: -14px;
                            width: 16px;
                            height: 105px;
                            border-left: @border-size solid @color-red;
                            border-right: @border-size solid @color-red;
                            border-top: @border-size solid @color-red;
                            border-radius: 5px 5px 0 0;
                            background-color: black;
                            transform: rotate(-24deg);
                            overflow: hidden;
                            & > .line {
                                position: absolute;
                                left: -30px;
                                width: 100px;
                                height: 3px;
                                background-color: @color-red;
                                transform: rotate(24deg);
                                &:nth-child(1) {
                                    top: 30px;
                                }
                                &:nth-child(2) {
                                    top: 45px;
                                }
                                &:nth-child(3) {
                                    top: 60px;
                                }
                                &:nth-child(4) {
                                    top: 75px;
                                }
                            }
                        }

                        & > .wing-right {
                            position: absolute;
                            left: 30px;
                            top: -14px;
                            width: 16px;
                            height: 105px;
                            border-left: @border-size solid @color-red;
                            border-right: @border-size solid @color-red;
                            border-top: @border-size solid @color-red;
                            border-radius: 5px 5px 0 0;
                            background-color: black;
                            transform: rotate(24deg);
                            overflow: hidden;
                            & > .line {
                                position: absolute;
                                left: -30px;
                                width: 100px;
                                height: 3px;
                                background-color: @color-red;
                                transform: rotate(-24deg);
                                &:nth-child(1) {
                                    top: 20px;
                                }
                                &:nth-child(2) {
                                    top: 35px;
                                }
                                &:nth-child(3) {
                                    top: 50px;
                                }
                                &:nth-child(4) {
                                    top: 65px;
                                }
                            }
                        }
                        & > .light-left {
                            position: absolute;
                            left: -57px;
                            top: -15px;
                            width: 40px;
                            height: 100px;
                            background: radial-gradient(ellipse at center, @color-red-light 10%, rgba(255, 255, 255, 0) 70%, transparent 100%);
                            transform: rotate(-24deg);
                            opacity: 0;
                            transition: all .3s ease;
                        }
                        & > .light-right {
                            position: absolute;
                            left: 25px;
                            top: -15px;
                            width: 40px;
                            height: 100px;
                            background: radial-gradient(ellipse at center, @color-red-light 10%, rgba(255, 255, 255, 0) 70%, transparent 100%);
                            transform: rotate(24deg);
                            opacity: 0;
                            transition: all .3s ease;
                        }
                    }
                    &:nth-child(1) {
                        top: -490px;
                        left: 0%;
                        transform: rotate(0deg);
                    }
                    &:nth-child(2) {
                        top: -360px;
                        left: 272;
                        transform: rotate(40deg);
                    }
                    &:nth-child(3) {
                        top: -90px;
                        left: 390;
                        transform: rotate(80deg);
                    }
                    &:nth-child(4) {
                        top: 220px;
                        left: 300;
                        transform: rotate(120deg);
                    }
                    &:nth-child(5) {
                        top: 380px;
                        left: 50;
                        transform: rotate(160deg);
                    }
                    &:nth-child(6) {
                        top: 350px;
                        left: -240;
                        transform: rotate(200deg);
                    }
                    &:nth-child(7) {
                        top: 130px;
                        left: -453;
                        transform: rotate(240deg);
                    }
                    &:nth-child(8) {
                        top: -180px;
                        left: -473;
                        transform: rotate(280deg);
                    }
                    &:nth-child(9) {
                        top: -423px;
                        left: -290;
                        transform: rotate(320deg);
                    }
                    &.inactive {
                        & div {
                            border-color: gray !Important;
                        }
                        & .line {
                            background-color: grey !Important;
                        }
                    }
                }
            }
            & > .line-container {
                position: relative;
                top: 0;
                left: 0;
                z-index: -1;
                & > .linear {
                    position: absolute;
                    left: 0px;
                    border: 2px solid @cyan;
                    &.line-chevron4 {
                        top: -590px;
                        width: 1000px;
                        left: -400px;
                    }
                    &.line-chevron5 {
                        top: -570px;
                        width: 930px;
                        left: -330px;

                    }
                    &.line-chevron6 {
                        top: -550px;
                        width: 870px;
                        left:  -270;
                    }
                    &.line-chevron7 {
                        top: -530px;
                        width: 600px;
                    }
                }
                & > .line.line-chevron1 {
                    position: absolute;
                    top: -390px;
                    left: 290px;
                    width: 70px;
                    border: 2px solid @cyan;
                    transform: rotate(132deg);
                    & > .line {
                        position: absolute;
                        top: -29px;
                        left: -62px;
                        width: 70px;
                        border: 2px solid @cyan;
                        transform: rotate(-132deg);
                    }
                }
                & > .line.line-chevron2 {
                    position: absolute;
                    top: -95px;
                    left: 460px;
                    width: 70px;
                    border: 2px solid @cyan;
                }
                & > .line.line-chevron3 {
                    position: absolute;
                    top: 250px;
                    left: 400px;
                    width: 70px;
                    border: 2px solid @cyan;
                }
                & > .line.line-chevron7>.line {

                    position: absolute;
                    top: 0px;
                    left: -2;
                    height: 50px;
                    border: 2px solid @cyan;
                }
                & > .left-line-container > .line {
                    &.line-chevron6 {
                        position: absolute;
                        top: -395px;
                        left: -356px;
                        width: 70px;
                        border: 2px solid @cyan;
                        transform: rotate(-132deg);
                        & > .line {
                            position: absolute;
                            top: 22px;
                            left: 61px;
                            width: 70px;
                            border: 2px solid @cyan;
                            transform: rotate(42deg);
                            & > .line {
                                position: absolute;
                                top: 34px;
                                left: 50px;
                                width: 93px;
                                border: 2px solid @cyan;
                                transform: rotate(52deg);
                            }
                        }
                    }
                    &.line-chevron5 {
                        position: absolute;
                        top: -104px;
                        left: -552px;
                        width: 70px;
                        border: 2px solid @cyan;
                        & > .line {
                            position: absolute;
                            top: -162px;
                            left: -162px;
                            width: 320px;
                            border: 2px solid @cyan;
                            transform: rotate(90deg);
                            & > .line {
                                position: absolute;
                                top: -112px;
                                left: -207px;
                                width: 262px;

                                border: 2px solid @cyan;
                                transform: rotate(57deg);
                            }
                        }
                    }
                    &.line-chevron4 {
                        position: absolute;
                        top: 246px;
                        left: -588px;
                        width: 170px;
                        border: 2px solid @cyan;
                        & > .line {
                            position: absolute;
                            top: -357px;
                            left: -358px;
                            width: 710px;
                            border: 2px solid @cyan;
                            transform: rotate(90deg);
                            & > .line {
                                position: absolute;
                                top: -96px;
                                left: -177px;
                                width: 224px;
                                border: 2px solid @cyan;
                                transform: rotate(56deg);
                            }
                        }
                    }
                }
            }
        }
    }
    & > .status-container {
        width: 100%;
        height: @status-container-height;
        background-color: rgba(255,0,0,0.2);
    }
}
/*
RIGHT Panel are chevron boxes 
*/
.right-panel {
    height: @main-height;
    width: 17%;
    float: left;
    & > .character-border {
        display: inline-block;
        width: calc( 100% - 15px);
        margin-left: 15px;
        margin-top: 15px;
        span {
            &::after {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 50%; /* Set the border height to half of the character height */
                border-right: 2px solid @cyan; /* You can adjust the border color, style, and width as desired */
            }
            &:first-child {
                border-left: 2px solid @cyan;
            }
            &:last-of-type {
                border-right: 2px solid @cyan;
                &::after {
                    border: none;
                }
            }
            border-top: 2px solid @cyan;

            position: relative;
            color: white;
            display: block;
            float: left;
            font-size: 40px;
            line-height: 25px;
            padding: 10px;
        }
        & > .destination-text {
            text-align: right;
            padding-right: 30px;
            padding-top: 25px;
            letter-spacing: 2px;
            font-size: 32px;
            color: white;
            margin-bottom: 0;
        }
    }
    & > .line-container {
        width: 100%;
        & > .line {
            width: 75%;
            height: @border-size;
            background-color: @cyan;
            margin-top: 15px;
            &:first-of-type {
                margin-top: 10px;
            }
        }
    }
    & > .glyph-container {
        /* TODO: Adjust variables to be variable and add class which will calculate how many glyphs we use 7 or 8 (or 9) */
        position: relative;
        width: 75%;
        & > .glyph {
            width: calc( 100% - 70px);
            height: 125px;
            margin-top: 20px;
            margin-left: 70px;
            border: @border-size solid @cyan;
            border-radius: @box-border-radius;
            position: relative;
            & > .line {
                position: absolute;
                height: @border-size;
                background-color: @cyan;

                & > .line-holder {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    & > .line {
                        position: absolute;
                        background-color: @cyan;
                    }
                }
            }
            &:nth-child(1) > .line {
                right: 100%;
                top: 50%;
                width: 100px;
            }
            &:nth-child(2) > .line {
                right: 100%;
                top: 50%;
                width: 100px;
            }
            &:nth-child(3) > .line {
                right: 100%;
                top: 50%;
                width: 100px;
            }
            &:nth-child(4) > .line {
                left: 100%;
                top: 50%;
                width: 80px;
                & > .line-holder {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    & > .line {
                        @line-height: 522.5px;
                        left: 100%;
                        width: @border-size;
                        height: @line-height;
                        margin-top: calc( -@line-height + @border-size);
                    }
                }
            }
            &:nth-child(5) > .line {
                left: 100%;
                top: 50%;
                width: 60px;
                & > .line-holder {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    & > .line {
                        @line-height: 672.5px;
                        left: 100%;
                        width: @border-size;
                        height: @line-height;
                        margin-top: calc( -@line-height + @border-size);
                    }
                }
            }
            &:nth-child(6) > .line {
                left: 100%;
                top: 50%;
                width: 40px;
                & > .line-holder {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    & > .line {
                        @line-height: 822.5px;
                        left: 100%;
                        width: @border-size;
                        height: @line-height;
                        margin-top: calc( -@line-height + @border-size);
                    }
                }
            }
            &:nth-child(7) > .line {
                left: 100%;
                top: 50%;
                width: 20px;
                & > .line-holder {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    & > .line {
                        @line-height: 972.5px;
                        left: 100%;
                        width: @border-size;
                        height: @line-height;
                        margin-top: calc( -@line-height + @border-size);
                    }
                }
            }
        }
        & > .flashing-box {
            position: absolute;
            right: -85;
            bottom: 0;

            width: 30px;
            height: 200px;
            border: @border-size solid @cyan;
            border-radius: @box-border-radius;
        }
    }
}
/*
BOTTOM is auth code and footer of the page, user info etc.
*/
.bottom {
    height: @bottom-height;
    width: 100%;
    float: left;
    & > .bottom-left {
        width: 45%;
        float: left;
        & > .title-auth {
            padding-left: 15px;
            font-size: 34px;
            margin: 0;
            color: white;
            margin-top: -10px;
        }
        & > .character-border {
            display: inline-block;
            width: calc( 100% - 15px);
            margin-left: 15px;
            margin-top: 5px;
            span {
                &::after {
                    content: ' ';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 50%; /* Set the border height to half of the character height */
                    border-right: 2px solid @cyan; /* You can adjust the border color, style, and width as desired */
                }
                &:first-child {
                    border-left: 2px solid @cyan;
                }
                &:last-child {
                    border-right: 2px solid @cyan;
                    &::after {
                        border: none;
                    }
                }
                border-bottom: 2px solid @cyan;

                position: relative;
                color: white;
                display: block;
                float: left;
                font-size: 40px;
                line-height: 25px;
                padding: 6px 0.8% 5px 0.8%;
            }
        }
    }
    & > .bottom-center {
        width: calc( 15% - 70px);
        height: 100%;
        float: left;
        padding-left: 70px;
        & > img {
            max-height: 100%;
            max-width: 100%;
            &:hover {
                background-color: @cyan;
                cursor: pointer;
            }
        }
    }
    & > .bottom-right {
        width: 40%;
        float: left;
        padding-top: 15px;
        & > p {
            color: white;
            margin: 0;
            font-size: 25px;
            letter-spacing: 7px;
            line-height: 23px;
            padding-top: 0px;
            & > span {
                color: @cyan;
            }
        }
    }
}

/*
Utils
*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.generated-line {
    position: absolute;
    height: 2px;
    border: 1px solid @cyan;
    background-color: @cyan;
    border-radius: 10px;
    transform-origin: 0 0;
}

.flashing-box {
    overflow: hidden;
    & > div {
        -webkit-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
        transition: background-color 100ms linear;
        &.type1 {
            width: 10px;
            height: 5px;
        }
        &.type2 {
            width: 5px;
            height: 5px;
        }
        &.type3 {
            width: 5px;
            height: 10px;
            background-color: blue;
        }
        &.pos1 {
            margin: 5px;
            margin-left: 5px;
        }
        &.pos2 {
            margin: 5px;
            margin-left: 10px;
        }
        &.pos3 {
            margin: 5px;
            margin-left: 15px;
        }
        &.color1 {
            &.light {
                background-color: rgba(129, 236, 236,1.0);
            }
            &.dark {
                background-color: rgba(129, 236, 236,0.5);
            }
        }
        &.color2 {
            &.light {
                background-color: rgba(255, 234, 167,1.0);
            }
            &.dark {
                background-color: rgba(255, 234, 167,0.5);
            }
        }
    }
}

.line, .generated-line {
    &.active {
        border-color: red !Important;
        background-color: red !Important;
    }
}